/* Common Section Start */

body {
    margin: 0;
    font-family: 'Merriweather', serif;
}

hr {
    border-style: none;
    border-top-style: inset;
    border-width: 2px;
    width: 30%;
    margin: 0 auto;
    border-color: #2f6c8a;
    margin-bottom: 15px;
}

h1 {
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

p {
    line-height: 2;
    margin: 5px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.link {
    color: #000000;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: transform .2s; /* Animation */
    border: none;
    border-radius: 10px;
}

    .link:hover {
        color: #ffffff;
        background-color: rgb(33, 33, 189);
        text-decoration: underline;
        text-decoration-color: forestgreen;
        transform: scale(1.05);
    }

/* Common Section End */

/* Header Section Start */

.header {
    text-align: center;
    background-color: #003B5C;
    padding: 10px;
    max-width: 100%;
}

.cloud1 {
    width: 10%;
    position: relative;
}

.cloud2 {
    width: 10%;
    position: relative;
}

.clouds {
    width: 10%;
    position: relative;
}

.profile {
    text-align: center;
    padding: 20px;
    max-width: 100%
   
}

.profile-image {
    border-radius: 50%;
}

.software {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
    color: #23607E;
    text-decoration: underline;
}

/* Header Section End */

/* Details Section Start */

.details {
    background-color: #f4f6f7;
    padding: 15px;
    margin: 0 auto;
    max-width: 90%;
}

    .details h2 {
        color: #000000;
    }

 .details h4 {
        color: #23607E;
    }

.experience {
    margin: 0 auto;
    padding-top: 5px;
    width: 90%;
    text-align: center;
}

.education {
    margin: 0 auto;
    padding-top: 5px;
    width: 90%;
    text-align: center;
}


.education-table {
    font-size: 1em;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border-collapse: separate; /* This is important for proper spacing */
    color: #23607E;
}

.title {
    color: #2f6c8a;
}

.skills {
    margin: 0 auto;
    padding-top: 5px;
    width: 90%;
    text-align: center;
}

.skills-table {
    font-size: 1em;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border-collapse: separate; /* This is important for proper spacing */
    color: #23607E;
}

.experience-title {
    text-decoration: underline;
    font-size: 1.2em;
    color: #23607E;
}

.location {
    margin-left: 10px;
    font-size: 1.3em;
    color: #23607E;
}

.reference {
    margin: 0 auto;
    padding-top: 5px;
    width: 90%;
    text-align: center;
}

.ref_table {
    font-size: 1em;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border-collapse: separate; /* This is important for proper spacing */
    color: #23607E;
}

.ref_table td {
    overflow-wrap: break-word; /* Allows breaking of long words */
    word-wrap: break-word; /* Ensures long words break in older browsers */
    max-width: 200px; /* You can adjust this width */
}

/* Details Section End */

/* Footer */

.footer {
    color: #ffffff;
    background-color: #003B5C;
    font-family: 'Segoe UI';
    text-align: center;
    font-size: 1.3em;
    padding: 10px 0;
}

.name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

/* ##Device = Desktops ##Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) {
    .header {
        /*background-color: black;*/
    }

    .cloud2 {
        top: 40px;
    }

    .clouds {
        top: 90px;
    }

    .profile {
        margin-top: 50px;
        padding: 5px 0;
    }

    .link {
        margin: 10px 15px; /* Changed to margin for better spacing */
        padding: 8px 15px; /* Adjusted padding for a better button size */
    }


    .footer {
        padding: 20px 0;
    }
}

/* ##Device = Laptops, Desktops ##Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
    .header {
        /*background-color: blue;*/
    }

    .cloud2 {
        top: 40px;
    }

    .clouds {
        top: 90px;
    }

    .profile {
        margin-top: 50px;
        padding: 5px 0;
    }

    .link {
        margin: 10px 15px; /* Changed to margin for better spacing */
        padding: 8px 15px; /* Adjusted padding for a better button size */
    }

    .experience {
        margin: 0px 20px 0 60px;
        width: 90%;
    }

    .footer {
        padding: 20px 0;
    }
}

/* ##Device = Tablets, Ipads (portrait) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        /*background-color: red;*/
    }

    .cloud2 {
        top: 40px;
    }

    .clouds {
        top: 90px;
    }

    .profile {
        margin-top: 50px;
        padding: 5px 0;
    }

    .link {
        bottom: 50px;
        left: 70px;
        margin: 0 15px;
        padding: 5px 10px;
    }

  .experience {
        margin: 0 auto; /* Changed to auto for center alignment */
        width: 80%; /* Adjusted width for better responsiveness */
    }

    .footer {
        padding: 20px 0;
    }
}

/* ##Device = Tablets, Ipads (landscape) ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .header {
        /*background-color: red;*/
    }

    .cloud2 {
        top: 40px;
    }

    .clouds {
        top: 90px;
    }

    .profile {
        margin-top: 50px;
        padding: 5px 0;
    }

    .link {
        bottom: 50px;
        left: 70px;
        margin: 0 15px;
        padding: 5px 10px;
    }

    .experience {
        margin: 0px 20px 0 60px;
        width: 90%;
    }

    .footer {
        padding: 20px 0;
    }
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    .header {
        padding: 0;
        /*background-color: green;*/
    }

    .link {
        position: static;
        margin: 0 3px;
        padding: 3px;
        font-size: 0.9em;
    }

    .clouds {
        top: 20px;
    }

    .profile {
      margin-top: 15px;
    }

   .experience {
        margin: 0 auto; /* Changed to auto for center alignment */
        width: 90%; /* Adjusted width for better responsiveness */
    }

    .footer {
        padding: 0;
    }
}

/* ##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
    .header {
        padding: 10px 0; /* Added padding for better spacing */
    }

    .experience {
        margin: 0 auto; /* Centered margin for small screens */
        width: 90%; /* Adjusted width for better responsiveness */
    }

    .footer {
        padding: 10px 0; /* Added padding for better spacing */
    }
}
