*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Inter',sans-serif;
background:#0f172a;
color:#e2e8f0;
line-height:1.7;
}

/* NAVBAR */

.navbar{
background:#020617;
padding:20px 10%;
position:sticky;
top:0;
z-index:1000;
}

.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
font-family:'Poppins';
font-weight:600;
}

.nav-buttons a{
margin-left:15px;
}

/* HERO */

.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px 10%;
gap:50px;
}

.hero-content{
max-width:600px;
}

.hero h1{
font-size:48px;
font-family:'Poppins';
margin-bottom:10px;
}

.hero h3{
color:#38bdf8;
margin-bottom:20px;
}

.hero p{
margin-bottom:25px;
}

.hero-img{
width:350px;
}

/* BUTTONS */

.btn{
background:#38bdf8;
color:#020617;
padding:12px 24px;
border-radius:8px;
text-decoration:none;
font-weight:600;
transition:.3s;
}

.btn:hover{
transform:translateY(-2px);
}

.btn-outline{
border:2px solid #38bdf8;
color:#38bdf8;
padding:10px 22px;
border-radius:8px;
text-decoration:none;
margin-left:10px;
}

.btn-outline:hover{
background:#38bdf8;
color:#020617;
}

/* SECTION */

.section{
padding:80px 10%;
text-align:center;
}

.section h2{
font-size:32px;
margin-bottom:40px;
font-family:'Poppins';
}

/* CARDS */

.card{
background:#1e293b;
padding:30px;
margin-bottom:25px;
border-radius:10px;
text-align:left;
}

.card h3{
margin-bottom:5px;
}

.date{
color:#38bdf8;
font-size:14px;
}

.card a{
color:#38bdf8;
text-decoration:none;
}

/* SKILLS */

.skills-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.skill{
background:#1e293b;
padding:15px;
border-radius:8px;
}

/* SOCIAL */

.socials a{
margin:10px;
color:#38bdf8;
text-decoration:none;
font-size:18px;
}

/* FOOTER */

.footer{
background:#020617;
padding:20px;
text-align:center;
margin-top:40px;
}

/* RESPONSIVE */

@media(max-width:900px){

.hero{
flex-direction:column;
text-align:center;
}

.hero-img{
width:250px;
}

}

@media(max-width:600px){

.hero h1{
font-size:34px;
}

.section{
padding:60px 7%;
}

}
