/* Common Section Start */
body {
    margin: 0;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 3em;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

p {
    line-height: 1.6;
    margin: 5px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.link {
    color: #626567;
    background-color: #f4f6f7;
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 10px;
    transition: background-color 0.2s, transform 0.2s;
}

.link:hover {
    background-color: rgb(33, 33, 189);
    color: #fff;
    transform: scale(1.05);
}

/* Header Section */
.header {
    text-align: center;
    background-color: #CEE0DD;
    padding: 10px;
}

.clouds {
    width: 10%;
}

/* Profile Section */
.profile {
    text-align: center;
}

.software {
    text-decoration: underline;
}

.intro {
    color: #23607E;
    text-decoration: underline;
}

/* Details Section */
.details {
    background-color: #f4f6f7;
    padding: 15px;
    text-align: center;
}

.details h2 {
    color: #000;
}

.experience, .education, .skills, .reference, .socials {
    margin: 0 auto;
    width: 90%;
    text-align: left;
}

.skills-table, .ref_table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px auto;
}

.skills-table td, .ref_table td {
    padding: 8px;
}

/* Footer */
.footer {
    color: #23607E;
    background-color: #CEE0DD;
    text-align:
